#Distribution
EU4img.zip

#Files created upon testing
__pycache__/
final.png
venv/

#Build
/cpp/build/
/cpp/*.egg-info/

#Shortcuts
save games.lnk
Screenshots.lnk

#Discord specifics
ressave.json
guildsave.json
.env
